body {
    font-family: 'Libre Franklin', sans-serif;
    background-color: rgb(11, 11, 11)
}

.section {
    background-color: rgb(194, 194, 194)
}

.brand-logo {
    margin-left: 10px;
}

.parallax-container {
    height: 200px;
}

.navButton {
    align-content: center;
    text-align: center;
    color: black;
    padding-top: 2px;
}

.infoButton {
    width: 150px;
    padding-top: 2px;
    margin-top: 20px;
}

.lnkImg {
    height: 30px;
}
